<!DOCTYPE html>
<html>

<head>
  <title>MealRandomGenerator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
  <footer class="has-text-centered mb-4">
    <p>Made with <i class="fas fa-heart" style="color: darkred;" aria-hidden="true"></i> <%= link_to "Paulo Oliveira", "https://github.com/plooliveira", :target => "_blank" %></p>
  </footer>
</body>

</html>